footer {
	background-color: #fff;
	min-width: 100%;
	min-height: 300px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	padding: 40px;
}

footer a {
	color: #8a959e;
}

footer ul {
	list-style-type: none;
}